# Database Configuration (local)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=one_billion

#Database Configuration (production)
DB_HOST=pg-2d3f6ce9-locdo-e453.i.aivencloud.com
DB_PORT=15819
DB_USERNAME=avnadmin
DB_PASSWORD=AVNS_kInjDRLI8DZlx4cn24C
DB_NAME=one_billion	


# JWT Configuration
JWT_SECRET=change-this-to-a-secure-secret-key
JWT_EXPIRES_IN=7d

# Server Configuration
PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3000

# API Key (optional)
API_KEY=your-api-key-here
